/* SECTION */
.contact-section {
  padding: 80px 20px;
}

/* GRID */
.contact-grid {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 50px; */
  align-items: center;
}

/* FORM */
.contact-form {
  background: #ffd493;
  padding: 10px;
  border-radius: 14px;
  color: #000000;
}

.contact-form h2 {
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  /* background: #1f1f1f; */
  border: 1px solid #333;
  border-radius: 8px;
  color: #000000;
}

.contact-form textarea {
  min-height: 140px;
  resize: vertical;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* IMAGE */
.contact-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  display: block;
  margin-left: auto;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .contact-image img {
    margin: 0 auto;
  }
}
